<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="cn.liuyw.bengbeng.mapper.SummaryMapper">


    <select id="queryLuckSum" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select count(1) as totalNum, concat(round(sum(t.getmoney - t.cost)/(10*#{beishu}),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
            b.base_insert*#{beishu}*a.return_rate as getmoney ,1000*#{beishu} as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'luck' order by issue+0 desc
        ) t
    </select>

    <select id="queryLuckSumByDay" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select SUBSTR(t.open_time,1,10) as openDay, concat(round(sum(t.getmoney - t.cost)/(10*10),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
        b.base_insert*10*a.return_rate as getmoney ,1000*10 as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'luck' order by issue+0 desc
        ) t group by substr(t.open_time,1,10) order by substr(t.open_time,1,10) desc limit 14
    </select>

    <select id="queryHappySum" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select count(1) as totalNum, concat(round(sum(t.getmoney - t.cost)/(10*#{beishu}),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
            b.base_insert*#{beishu}*a.return_rate as getmoney ,216*#{beishu} as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'happy' order by issue+0 desc
        ) t
    </select>

    <select id="queryHappySumByDay" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select SUBSTR(t.open_time,1,10) as openDay, concat(round(sum(t.getmoney - t.cost)/(2.16*10),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
        b.base_insert*10*a.return_rate as getmoney ,216*10 as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'happy' order by issue+0 desc
        ) t group by substr(t.open_time,1,10) order by substr(t.open_time,1,10) desc limit 14
    </select>

    <select id="queryPk5Sum" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select count(1) as totalNum, concat(round(sum(t.getmoney - t.cost)/(10*#{beishu}),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
            b.base_insert*#{beishu}*a.return_rate as getmoney ,100*#{beishu} as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'pk5' order by issue+0 desc
        ) t
    </select>

    <select id="queryPk5SumByDay" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select SUBSTR(t.open_time,1,10) as openDay, concat(round(sum(t.getmoney - t.cost)/(1*10),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
        b.base_insert*10*a.return_rate as getmoney ,100*10 as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'pk5' order by issue+0 desc
        ) t group by substr(t.open_time,1,10) order by substr(t.open_time,1,10) desc limit 14
    </select>


    <select id="querySgsSum" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select count(1) as totalNum, concat(round(sum(t.getmoney - t.cost)/(100*#{beishu}),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
        b.base_insert*#{beishu}*a.return_rate as getmoney ,10000*#{beishu} as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'sgs' order by issue+0 desc
        ) t
    </select>

    <select id="querySgsSumByDay" resultType="cn.liuyw.bengbeng.bean.OpenNoSummary">
        select SUBSTR(t.open_time,1,10) as openDay, concat(round(sum(t.getmoney - t.cost)/(100),2),'%') as percents from (
        select a.issue,a.open_time,a.open_no_label,a.return_rate,b.base_pl,
        b.base_insert*a.return_rate as getmoney ,10000 as cost
        from guess_open_no a
        left join guess_base_pl b on a.open_no = b.open_no and a.guess_type = b.guess_type
        where a.guess_type = 'sgs' order by issue+0 desc
        ) t group by substr(t.open_time,1,10) order by substr(t.open_time,1,10) desc limit 14
    </select>

</mapper>